@page "/settings/account"
@model PageModels.Settings.AccountModel
@{
	Layout = "_StandardLayout";
}
<div class="n-page_content">
	<div class="n-toolbar">
		<a asp-page="@Paths.Pages.Settings.Home" class="n-toolbar_back">Home</a>
	</div>
	<h1>
		<span>Account</span>
	</h1>
	<div>
		<form method="post">
			<div class="n-form-item">
				<label asp-for="AccountForm.Name" class="n-label">Name</label>
				<input type="text" asp-for="AccountForm.Name" class="n-input" />
			</div>
			<div class="n-form-message">
				<div asp-validation-summary="All" class="n-validation-summary">
				</div>
			</div>
			<div class="n-form-action">
				<button type="submit" asp-page-handler="Update" class="n-btn">Update</button>
			</div>
		</form>
	</div>
</div>
