@page "/blog/{blogId:int}/article/{articleId:int}"
@model ArticleModel
@{
	Layout = "_StandardLayout";
}
<div class="n-page_content">
	<h1>
		<span>@Model.Article.BlogName</span>
	</h1>
	<div class="n-article">
		<h2 class="n-article_title">
			<span>@Model.Article.Title</span>
		</h2>
		<div class="n-article_content">
			<span class="n-article_content_text">@Model.Article.Content</span>
		</div>
		<div class="n-article_date">
			<span>@Model.Article.UpdatedDate</span>
		</div>
	</div>
</div>

@section Styles
{
<style>

.n-article
{
}

.n-article_title
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.n-article_content
{
}

.n-article_content_text
{
	line-height: 1.5;
	white-space: pre-wrap;
}

.n-article_date
{
	margin-top: 20px;
}

</style>
}
