@page
@model IndexModel
@{
	Layout = "_StandardLayout";
}
<div class="n-page_content">
	<div class="n-blog-list n-row">
@foreach (Blog blog in Model.Blogs)
{
		<div class="n-blog n-col n-col-6">
			<div class="n-card">
				<a asp-page="@Paths.Pages.Blog" asp-route-blogId="@blog.BlogId" class="n-card_link">
					<div class="n-card_header">
						<span>@blog.BlogName</span>
					</div>
					<div class="n-card_content">
						<span>@blog.Description</span>
					</div>
				</a>
			</div>
		</div>
}
	</div>
</div>

@section Styles
{
<style>

.n-blog-list
{
	margin-top: 12px;
}

.n-blog
{
	height: 300px;
}

</style>
}
